body {
  font-size: 3vh;
  background-color: rgb(240,240,255);
}

h2 {
  margin: .5em 0 .25em 0;
}

p {
  font-family: sans-serif;
}

.App {
  position: absolute;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.header {
  position: absolute;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.header h1 {
  margin-top: .3em;
  margin-bottom: 0;
}

.subhead {
  margin: 0;
  padding: 0;
  font-size: .8em;
}

.App-link {
  color: #61dafb;
}

.about-item {
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  padding: 0 20px;
}

.post-item {
  font-size: 1.3em;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
  padding: 0 20px;
  border: 3px solid black;
  border-radius: 20px;
}

.post-subtext {
  font-size: .8em;
  font-style: italic;
}

.menu-radius {
  position: absolute;
  border: 5px solid black;
  border-radius: 50%;
  left: calc(50vw - 100vh);
  top: 85vh;
  width: 200vh;
  height: 200vh;
  box-sizing: border-box;
}

.menu-item {
  /* border: 3px solid black; */
  position: absolute;
  width: 50%;
  height: 100%;
  top: -30%;
  left: 50%;
  margin: -4% 0px;
  padding: 0;
  transition: transform 1s;
  background-color: rgba(255, 255, 255, 0);
}

.text-item {
  /* border: 3px solid black; */
  position: absolute;
  width: 40%;
  height: 180%;
  top: -94%;
  left: 50%;
  transition: transform 1s;
  background-color: rgba(240,240,240, .3);
  /* overflow: auto; */
}

.text-item-content-expanded {
  position: absolute;
  width: 90vw;
  height: 20%;
  overflow: auto;
  top: 5%;
  left: -32vw;
  color: #000;
  background-color: rgba(240,240,240,1);
  transition: width 1s, color 1s, background-color 1s, left 1s;
  z-index: 100;
}

.text-item-content-collapsed {
  position: absolute;
  width: 100%;
  height: 20%;
  overflow: hidden;
  top: 5%;
  left: 0px;
  color: rgba(127,127,127,.5);
  background-color: rgba(240,240,240, .3);
  transition: width 1s, color 1s, background-color 1s, left 1s;
  z-index: 10;
}

.text-item-content {
  margin: 1em 1.5em;
}

.image-sidebar {
  position: absolute;
  height: 100%;
  right: 0px;
  text-align: right;
}

.image-sidebar-item {
  width: 1.5em;
  height: 5em;
  overflow: hidden;
  object-fit: cover;
  transition: all .5s;
}

.image-sidebar-item:hover {
  width: auto;
  height: 6em;
  overflow: hidden;
  object-fit: cover;
  transition: all .5s;
}

.nav-container {
  position: fixed;
  bottom: 10%;
  left: 50%;
  width: 50%;
  height: 5%;
  transform: translate(-50%, 0px);
  margin: 0;
  padding: 0;
  transition: left 1s, top 1s;
}

@media screen and (max-aspect-ratio: 1/1) {
  .nav-container {
    position: fixed;
    bottom: 6%;
    left: 50%;
    width: 50%;
    height: 5%;
    transform: translate(-50%, 0px);
    margin: 0;
    padding: 0;
    transition: left 1s, top 1s;
  }
}


.nav-bar {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block;
  font-size: 3em;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

#shape-1 {
  position: absolute;
  left: -400px;
  top: 200px;
  width: 400px;
  height: 400px;
  transition: left 1s, top 1s, transform 1s;
  z-index: -1;
}

#shape-2 {
  position: absolute;
  left: 400px;
  top: 200px;
  width: 400px;
  height: 400px;
  transition: left 1s, top 1s, transform 1s;
  z-index: -1;
}

.project-skills {
  position: relative;
  width: 140px;
  max-width: 140px;
  height: 100%;
  float: left;
}

.skill {
  float: left;
  text-align: center;
  font-size: .6em;
  width: 90%;
  height: 4em;
  margin: 0;
  padding: 1em 0 0 0;
}

.project-content {
  float: left;
  width: calc(100% - 148px);
  padding: 0 8px 0 0;
}

.project-link {
  font-size: .5em;
  margin: 0 1em 0 0;
}

.project-screenshot {
  width: 100%;
  height: auto;
  max-width: 256px;
  max-height: 180px;
}

.content {
  position: absolute;
  width: 90vw;
  height: 60vh;
  background-color: rgba(208,180,192,.85);
  box-shadow: 1em 1em 1em .05em black;
  text-align: left;
  overflow: auto;
  transition: left 1s, top 1s;
}

.content-show {
  top: 15vh;
  left: 5vw;
}

.hide-bio {
  top: 20vh;
  left: 115vw;
}

.hide-about {
  top: 60vh;
  left: 115vw;
}

.hide-skills {
  top: 90vh;
  left: 115vw;
}

.hide-ad {
  top: -20vh;
  left: -115vw;
}

.hide-pp {
  top: 40vh;
  left: -115vw;
}

.hide-th {
  top: 90vh;
  left: -115vw;
}

.tech-container {
  width: 100%;
  height: 100%;
  text-align: center;
  /* display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto; */
  overflow: auto;
}

.tech {
  float: left;
  text-align: center;
  width: 20%;
  min-width: 160px;
  height: 30%;
  max-height: 30%;
  margin: 0;
  padding: 1em 0 0 0;
}

.tech-icon {
  /* display: inline-block;
  align-self: center; */
  width: auto;
  height: 50%;
  max-height: 50%;
}

.tech-title {
  text-align: center;
  margin: 0.5em;
  padding: 0;
}